<div class='container'>
    <div class='jumbotron'>
        <h1>Customer Support Center</h1>
        <button class='btn btn-primary'>
            Open A New Support Ticket
        </button>
        <button class='btn btn-success'>
            Login To An Existing Ticket
        </button>
    </div>  
</div>