<div class='container'>
    <div class='jumbotron'>
        <h1>New Ticket Opened.</h1>
        <h3>Your ticket ID is <%= @new_ticket_id %></h3>
        <p>
            Keep this safe as you will need it to track your ticket.
        </p>
    </div>
</div>